@media only screen and (min-device-width: 360px) and (max-device-width: 414px){

    /* .logo1 img{
        display: block;
        position: relative;
        width: 20vw;
        margin-top: 2vh;
        margin-left: 1vw;
    } */
/* 
    .logo1 img{
        width: 20vw;
    }

     */
}
